body {
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #888888, #454545, #888888, #aaaaaa);
}

h1 {
    width: 60%;
    margin: 2rem auto;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin: 8rem auto 0;
    gap: 20px;
    width: 300px;
    height: 500px;
    background-color: crimson;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px rgb(163, 14, 44);
    border: 4px solid rgb(163, 14, 44);
    position: relative;
}
.calc-ctn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.calc-ctn:hover {
    cursor: pointer;
}
.btn-ctn {
    display: flex;
    gap: 20px;
    text-align: center;
}
.btn {
    width: 60px;
    height: 60px;
    background-color: rgb(83, 83, 83);
    border-radius: 12px;
    line-height: 60px;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    box-shadow: 3px 7px 5px rgb(45, 45, 45);
    border: 1px solid rgb(54, 54, 54);
}
.display-ctn {
    background-color: antiquewhite;
    height: 60px;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: right;
    line-height: 60px;
    font-size: 2.5rem;
    box-shadow: inset 5px 5px rgb(148, 134, 109);
    border: 5px solid gainsboro;
}
#equal {
    position: absolute;
    height: 140px;
    right: 28px;
    z-index: 2;
    line-height: 140px;
}
#zero {
    width: 140px;
}
.btn:active {
  background-color: #404040;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}